*{
	font-size:20px;
}
body{
   /* background-image:url(032.jpg);*/
}
.top_left{
	margin:0px; 
	width:300px; 
	float:left;
}
.top_right{
	width:300px;
	float: right;
}
.container_me{
	width:760px; 
	height:600px;
	border:1px solid red;
	margin-left: 0px;
}
.top_me{
	height:80px;
	border:0px solid red;
}
.touxiang{
	width:50px;
	height: 50px;
	float:right;
	margin: 10px;
}
#table_me{
	height:250px;
	overflow:auto;
}
#table_small{
	height:200px;
	overflow:auto;
}
.navbar_me{
    border-radius:4px; 
	border-color: #e7e7e7;
	background-color: #f8f8f8;
    border-radius: 4px;
    height:80px;
    border: 1px solid transparent;
}
#butt{
	cursor: auto;
}
h2{
	margin:10px;
	width: 400px;
	display: inline;
}
.index{
	height: 400px;
	overflow: auto;
	margin-left:150px; 
}
#set_center{
	vertical-align:middle;
	display: inline;
}
input{
	vertical-align:middle;
}
